#results {
    column-gap: 10px;
    display: grid;
    grid-auto-columns: minmax(100px, auto);
}

.result {
    background-color: #f3f2f2;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}

.result-text {
    font-size: 1.5em;
    font-style: italic;
}

.tags {
    color: white;
    font-size: 0.65em;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 540px) {
    .tag {
        background-color: olivedrab;
        border-radius: 15px;
        display: inline-block;
        margin-right: 6px;
        padding: 6px;
        padding-left: 14px;
        padding-right: 14px;
        width: fit-content;
        max-width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (min-width: 541px) {
    .tag {
        background-color: olivedrab;
        border-radius: 15px;
        display: inline-block;
        margin-right: 6px;
        padding: 6px;
        padding-left: 14px;
        padding-right: 14px;
        width: fit-content;
    }
}

